<!DOCTYPE html>
<head>

</head>
<body>
<mat-toolbar color="primary">
  <img  class="images" src="./assets/img/kuwt_logo.png"/>
  <span>{{title}}</span>

  <span class="example-spacer"></span>
  <nav>
    <button mat-raised-button class="tool-button" routerLink="/streamers" [disabled]="true">Streamers</button>

    <button mat-raised-button class="tool-button" routerLink="/games" [disabled]="true">Games</button>
  </nav>
</mat-toolbar>

<mat-card class="login-card">
  <mat-card-header>Login to continue!</mat-card-header>
  <mat-card-content>
    <button mat-raised-button class="tool-button" (click)="loginClicked()">Login</button>
  </mat-card-content>
</mat-card>

<footer class="container-footer">
  <div class="content-footer">
    <p>KeepingUpWithTwitch is a free site that helps you to manage your Twitch experience.</p>
    <p>We hope you enjoy our site and recommend it to your friends.</p>
    <p>Feel free to contact us if u find any bugs.</p>
  </div>
  <div >
    <span>@ Copyright 2021: <a href="https://github.com/koltob17/kuwt">KollarKrainer</a></span>
  </div>
</footer>
</body>


