.example-spacer {
  flex: 1 1 auto;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

.images{
  height: 40px;
}

.tool-button{
  margin-left: 10px;
}

.news-list{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.login-card {
  text-align: center;
  width: 40%;
  margin-top: 50px;
  margin-left: 30%;
}

.container-footer {
  width: 100%;
  margin-top: 20px;
  background-color: #673ab7;
  text-align: center;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-footer {
  background-color: #a775ff;
  height: 8%;
  text-align: left;
  padding: 10px;
}
