<!DOCTYPE html>
<head>

</head>
<body>
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Menu1</span>
    </button>
    <button mat-menu-item>
      <span>Menu2</span>
    </button>
    <button mat-menu-item>
      <span>Menu3</span>
    </button>
  </mat-menu>
  <span>{{title}}</span>
  <img  class="images" src="./assets/img/kuwt_logo.png"/>
  <span class="example-spacer"></span>
  <nav>
    <button mat-raised-button class="tool-button" routerLink="/streamers" [disabled]="true">Streamers</button>

    <button mat-raised-button class="tool-button" routerLink="/games" [disabled]="true">Games</button>
  </nav>
</mat-toolbar>

<mat-card class="login-card">
  <mat-card-header>Login to continue!</mat-card-header>
  <mat-card-content>
    <button mat-raised-button class="tool-button" (click)="loginClicked()">Login</button>
  </mat-card-content>
</mat-card>

</body>


