<!DOCTYPE html>
<head>

</head>
<body>
  <mat-toolbar color="primary">
    <img  class="images" src="./assets/img/kuwt_logo.png" routerLink="/welcome"/>
    <span>{{title}}</span>

    <span class="example-spacer"></span>
    <nav>
      <button mat-raised-button class="tool-button" routerLink="/streamers">Streamers</button>

      <button mat-raised-button class="tool-button" routerLink="/games">Games</button>
    </nav>
    <div style="text-align: center; margin-left: 10px;">
      <img src="{{userData.data[0].profile_image_url}}" class="profile"/>
      <p style="font-size: 15px;">{{userData.data[0].display_name}}</p>
    </div>
  </mat-toolbar>

  <h1 class="mat-display-1 table-heading">Top 10 Games</h1>

  <!--
  <div class="mat-elevation-z8 table-center">
    <table mat-table [dataSource]="dataSource.data">


      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
          <img src="{{element.box_art_url}}"/>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  -->

  <div style="display: inline" *ngIf="dataSource != null">
    <mat-card class="example-card" *ngFor="let result of dataSource.data; let i ">
      <mat-card-header>
        <p></p>
        <mat-card-title style="display: inline-block">{{result.name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <img mat-card-image src="{{result.box_art_url}}">
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="gameClicked(result.name)">To Twitch</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <footer class="container-footer">
    <div class="content-footer">
      <p>KeepingUpWithTwitch is a free site that helps you to manage your Twitch experience.</p>
      <p>We hope you enjoy our site and recommend it to your friends.</p>
      <p>Feel free to contact us if u find any bugs.</p>
    </div>
    <div >
      <span>@ Copyright 2021: <a href="https://github.com/koltob17/kuwt">KollarKrainer</a></span>
    </div>
  </footer>
</body>
