.images{
  height: 40px;
}

.example-spacer {
  flex: 1 1 auto;
}

.tool-button{
  margin-left: 10px;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

table {
  width: 100%;
}

.table-center {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  text-align: center;
}

.table-heading {
  text-align: center;
  margin-top: 20px;
}

.example-card {
  width: 18%;
  display: inline-block;
  margin: 10px;
}

.example-header-image {
  background-size: cover;
  width: 30px;
  height: 30px;
}

.cards {
  width: 10%;
  display: inline;
}

.profile{
  width: 30px;
  height: 30px;
  margin-top: 15px;
  border-radius: 20px;
}

.container-footer {
  width: 100%;
  margin-top: 20px;
  background-color: #673ab7;
  text-align: center;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-footer {
  background-color: #a775ff;
  height: 8%;
  text-align: left;
  padding: 10px;
}
