.example-spacer {
  flex: 1 1 auto;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

.images{
  height: 40px;
}

.tool-button{
  margin-left: 10px;
}

.news-list{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.streamer-in {
  width: 20%;
  margin-top: 20px;
  margin-left: 40%;
  display: block;
}

.example-card {
  width: 23%;
  display: inline-block;
  margin: 10px;
}

.example-header-image {
  background-size: cover;
  width: 30px;
  height: 30px;
}

.cards {
  width: 15%;
  display: inline;
}
